#nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

#logo {
  display: flex;
  align-items: center;
}

#imagesize {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

#navlinks {
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: center;
}

.navlink {
  text-decoration: none;
}

#vertical-divider {
  width: 0.125rem;
  height: 1rem;
  background-color: #e8e8e8;
}

#horizontal-divider {
  width: 90%;
  height: 0.125rem;
  background-color: #e8e8e8;
  margin-top: 1rem;
  align-self: center;
}

#header {
  display: flex;
  flex-direction: column;
}

.active {
  text-decoration: underline;
}
